[general]
currency = eur
currency_symbol = €
display = price,percent_change_24h
spacer_symbol = |
api_key = your_coinmarketcap_api_key
; COINMARKETCAP_API_KEY env variable can alternatively be used and will take precedence

[btc]
icon = 
in_tooltip = false
price_precision = 2
change_precision = 2
volume_precision = 2

[eth]
icon = 
in_tooltip = false
price_precision = 2
change_precision = 2
volume_precision = 2

[avax]
icon = AVAX
in_tooltip = true
price_precision = 2
change_precision = 2
volume_precision = 2

[dot]
icon = DOT
in_tooltip = true
price_precision = 2
change_precision = 2
volume_precision = 2
