[tool.poetry]
name = "waybar-crypto"
version = "v1.1.2"
description = "A Waybar module for displaying cryptocurrency market information from CoinMarketCap."
authors = ["Ross <git@ross.ch>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.27.1"

[tool.poetry.dev-dependencies]
black = "^23.9"
pytest = "^7.1.2"
pytest-cov = "^4.1.0"
bandit = "^1.7.4"

[tool.black]
# Use the more relaxed max line length permitted in PEP8.
line-length = 99

[tool.bandit]
exclude = ["test_*.py", "./venv/", "./env/", "./.env,tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
