name: Tests
on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/test.yml"
      - "**/*.py"
      - "poetry.lock"
      - "pyproject.toml"
      - "config.ini.example"
  pull_request:
    paths:
      - ".github/workflows/test.yml"
      - "**/*.py"
      - "poetry.lock"
      - "pyproject.toml"
      - "config.ini.example"
jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Install Python 3
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: pre-commit/action@v3.0.1
        env:
          RUFF_OUTPUT_FORMAT: github
  test:
    needs: lint
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v5
      - name: Install Python 3
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install dependencies
        run: pip install -e .[dev,tests]
      - name: Run Pytest
        env:
          TEST_CMC_API_KEY: ${{ secrets.TEST_CMC_API_KEY }}
        run: pytest -vv --cov=./src --cov-report=xml tests/
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Run Bandit
        run: bandit -r ./src
